body {
background-color: red;
animation: bgflash 5s infinite ease-in;
}

@keyframes bgflash {
0% {background-color: red;}
14.2% {background-color: purple;}
28.6% {background-color: blue;}
42.6% {background-color: green;}
56.8% {background-color: yellow;}
71% {background-color: orange;}
90% {background-color: red;}
}

.banner-image {
background-image: url("https://files.catbox.moe/tmy17n.png");
background-repeat: repeat;
animation: bgscroll 1s infinite linear;
}

@keyframes bgscroll {
0% {background-position-x: 0px;
background-position-y: 0px;}
100% {background-position-x: 33px;
background-position-y: 33px;}
}

.BorderStrip {
box-shadow: 0 0 10px red;
}

.hmcontainer {
box-shadow: 0 0 10px red;
}

.banner-alert {
background: rgb(0, 0, 0, 0) url("https://files.catbox.moe/tmy17n.png");
height: 68px;
text-transform: full-width;
transform: translateY(-9px);
border: 0;
animation: bgscroll 1s infinite linear;
}

.blackstrip {
background: rgba(0, 0, 0, 0);
}

.blackstrip2 {
background: rgba(0, 0, 0, 0);
}

.blackstrip a{
color: black;
}

.blackstrip3 {
background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

.pfp {
animation: pfpsize 3s cubic-bezier(.61,.07,.36,.63) infinite;
}

@keyframes pfpsize {
0% {
transform: rotateY(0deg);
}
100% {
transform: rotateY(360deg);}
}      
